<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1 class='panel-title'>Edit <%= record_class.model_name.singular.titlecase %> Batch</h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to record_class.model_name.plural.humanize.titlecase, url_for(record_class) %></li>
    <li class='active'>New Batch</li>
  </ol>

  <%= render 'batch_form', action: 'batch_update', method: 'put', record_class.model_name.plural.to_sym => @records %>

  <div class='panel-body'></div>
  <div class='panel-footer'></div>
</div>
