html, body {
  height: 100%;
  width: 100%;
  position: absolute;
}

main {
  padding-left: $sidebar-width;
  padding-top: $navbar-height;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: both;
}

main > .container-fluid {
  padding: 0;
  flex: 1 1;
}
