.panel {
  border: none;
}

.panel-heading {
  background-image: none;
}

.panel-title {
  font-size: $font-size-header;
  font-weight: $font-weight-light;
}

.panel-toolbar {
  float: right;
  vertical-align: bottom;
}
