.table {
  border-radius: 0px;
  border: none;
  color: black;
  margin: 0;
}

.table > thead {
  background: $purple-darker;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $gray-lighter;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: $gray-light;
}

.table > thead > tr > th {
  border: none;
  color: white;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  letter-spacing: .2em;
  text-transform: uppercase;
  vertical-align: middle;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border: none;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
  padding-left: 32px;
}

.table-actions > .btn {
  text-transform: uppercase;
  font-size: $font-size-small;
}
