.table {
  border: none;
  color: black;
}

.table > thead {
  background-color: white;
}

.table > tbody {
  background-color: white;
}

.table > thead > tr > th {
  font-weight: $font-weight-bold;
  vertical-align: middle;
  padding-top: 20px;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid darken(white, 5%);
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
  padding-left: 32px;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child {
  padding-right: 32px;
}

.table-actions .btn {
  font-size: $font-size-small;
}
