$sidebar-width: 200px;

$purple-lighter: rgb(93, 100, 208);
$purple-light: rgb(88, 72, 138);
$purple-dark: rgb(74, 64, 144);
$purple-darker: rgb(55, 46, 108);

$white: rgb(250, 250, 250);

$gray-lighter: rgb(250, 250, 250);
$gray-light: rgb(240, 240, 240);

$font-size-header: 32pt;
$font-size-text: 12pt;
$font-size-small: 9pt;

$font-weight-light: 100;
$font-weight-text: 300;
$font-weight-bold: 400;

$btn-primary-bg: $purple-darker;
