$sidebar-width: 200px;

$font-size-header: 32pt;

$font-weight-light: 100;
$font-weight-base: 300;
$font-weight-bold: 400;

// Bootstrap overides

$brand-lighter: rgb(93, 100, 208);
$brand-light: rgb(88, 72, 138);
$brand-primary: rgb(74, 64, 144);
$brand-darker: rgb(55, 46, 108);

$state-info-bg: lighten($brand-primary, 50%);
$state-info-border: darken($brand-primary, 0%);
$state-info-text: darken($brand-primary, 0%);

$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-small: 9pt;

$border-radius-base: 0px;

$body-bg: $brand-light;

$panel-default-heading-bg: $brand-primary;
$panel-default-text: white;
$panel-default-border: none;
$panel-body-padding: 32px;
$panel-heading-padding: 32px;

$nav-link-padding: 20px 32px;
